name: Post microservice CI/CD
on:
 push:
    branches: [main]
 pull_request:
    branches: [main]
jobs:
  package:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: temurin
    - name: Cache
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{runner.os}}-m2-${{hashFiles('post/pom.xml')}}
        restore-keys: ${{runner.os}}-m2
    - name: Package
      run: mvn -B -f post/pom.xml package
    - name: Publish Test Report
      if: success() || failure()
      uses: scacap/action-surefire-report@v1
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    -
      name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{secrets.DOCKERHUB_USER}}
        password: ${{secrets.DOCKERHUB_PASSWORD}}
    -
      name: Build and push docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: localstradedocker/blog:post_latest